.wallet-content {
  min-height: 600px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    & h1 > span {
      font-size: 28px;
    }

    & .header-controls {
      & > button {
        margin-right: 16px;
      }
    }
  }

  &-table {
    width: 100%;
    height: 600px;
  }
}
